<rsyncMover>
    <movers>
        <mover>
            <name>movies</name>
            <dontMatchMoverByName>
                <name>tv</name>
            </dontMatchMoverByName>
            <extensions>
                <extension>mkv</extension>
                <extension>avi</extension>
                <extension>mp4</extension>
            </extensions>
            <partialMatch>true</partialMatch>
        </mover>
        <mover>
            <name>tv</name>
            <patterns>
                <pattern>\d+[Xx]\d+</pattern>
                <pattern>[Ss]\d+[Ee]\d+</pattern>
                <pattern>\d+\.\d+</pattern>
            </patterns>
            <extensions>
                <extension>mkv</extension>
                <extension>avi</extension>
                <extension>mp4</extension>
            </extensions>
            <partialMatch>true</partialMatch>
        </mover>
        <mover>
            <name>music</name>
            <extensions>
                <extension>flac</extension>
                <extension>mp3</extension>
                <extension>aac</extension>
            </extensions>
            <partialMatch>true</partialMatch>
        </mover>
        <mover>
            <name>programs</name>
            <extensions>
                <extension>rar</extension>
                <extension>r00</extension>
                <extension>iso</extension>
                <extension>001</extension>
                <extension>exe</extension>
                <extension>bin</extension>
                <extension>zip</extension>
            </extensions>
            <partialMatch>true</partialMatch>
        </mover>
    </movers>
</rsyncMover>